@charset "utf-8";

html,body{
    width: 100%;
    height: 100%;
}

.centerpage{
    width: 1000px;
    margin: 0 auto;
}


/* 头部样式 */

.head{
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px rgb(250, 244, 168) solid;
}
.head>div>span{
    float: right;
    font-size: 12px;
    line-height: 60px;
}
.head>div>span>a{
    padding: 0 5px;
}


/* 注册表单样式 */

.login_form{
    width: 100%;
    padding: 50px 0 80px 0;
    margin-bottom: 10px;
    background: #FFF1E8;
    position: relative;
}
.login_form>p{
    width: 1200px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    color: red;
    font-size: 12px;
    height: 12px;
}
.login_form>p i{
    line-height: 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px red solid;
    border-radius: 50%;
    margin: 5px;
}
.login_form .loginbg{
    background: url(../images/loginbanner.png) 0 0/100%;
}
.loginbg .right{
    position: relative;
    width: 350px;
    height: 380px;
    background: #fff;
    float: right;
    overflow: hidden;
}
.loginbg .right>p{
    width: 100%;
    height: 30px;
    padding: 10px;
    border-bottom: 1px #eee solid;
}
.loginbg .right>p span{
    display: inline-block;
    width: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 19px;
    box-sizing: border-box;
    color: #aaa;
    cursor: pointer;
}
.loginbg .right>p span:first-child{
    border-right: 1px #eee solid;
}
.loginbg .right>p span.focus{
    color: #f50;
}
.loginbg>.right>form{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    position: absolute;
}
.loginbg>.right>form div{
    height: 20px;
    border: 1px #aaa solid;
    margin-bottom: 20px;
    padding: 10px;
}
.loginbg>.right>form div input{
    border: none;
    outline: none;
    width: 260px;
    height: 20px;
    margin-right: 10px;
    float: right;
    font-size: 13px;
    background: transparent;
}
.loginbg>.right>form>p{
    font-size: 12px;
    line-height: 15px;
    padding: 15px 0;
}
.loginbg>.right>form>p>span{
    float: right;
}
.loginbg>.right>form>p>span a{
    padding: 0 5px;
}
.loginbg>.right>form .sub{
    border: none;
    padding: 0;
    height: 40px;
}
.loginbg>.right>form .sub input{
    width: 100%;
    height: 100%;
    background: #f40;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin: 0;
}
.loginbg>.right>form .sub input:hover{
    background: #d60;
}
.loginbg .erweima{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
}
.loginbg .erweima div{
    padding: 40px 0 20px 0;
    text-align: center;
    position: relative;
    left: 70px;
}
.loginbg .erweima div .maa{
    border: 1px #999 solid;
}
.loginbg .erweima div .lii{
    opacity: 0;
}
.loginbg .erweima p{
    font-size: 12px;
    text-align: center;
    padding: 5px 30px;
}
.loginbg .erweima p:last-child{
    text-align: right;
}
/* 页脚备案号 */
.footer>div>p{
    font-size: 13px;
    padding: 2px 0;
    color: #575757;
}
.footer>div>p:first-child{
    font-size: 13px;
    padding: 15px 0;
}
.footer>div>p:first-child a{
    font-size: 13px;
    padding: 0 3px;
    color: #232323;
}
.footer>div>p:first-child a:hover{
    color: rgb(223, 38, 240);
}
.footer>div>p:last-child{
    padding-bottom: 15px;
}